.tooltip .tooltext-always {
  visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 6px 5px 10px rgba(63, 62, 62, 0.596);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 105%;
}
