.tooltip .tooltext-crazy {
  visibility: hidden;
  width: 120px;

  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 6px 5px 10px rgba(63, 62, 62, 0.596);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 15%;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes change-background {
  0% {
    background: #69b7eb;
  }
  50% {
    background: #b3dbd3;
  }
  100% {
    background: #f4d6db;
  }
}

.tooltip .tooltext-crazy::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b3dbd3 transparent transparent transparent;
}

.tooltip:hover .tooltext-crazy {
  visibility: visible;
  opacity: 1;
  animation: bounce 1s infinite, change-background 2s ease-in-out infinite;
}
