.tooltip .tooltext-shadow {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: rgb(8, 8, 8);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 3px 5px 15px rgba(161, 160, 160, 0.856);
  opacity: 0;
  transition: opacity 1s;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 105%;
}

.tooltip .tooltext-shadow::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltext-shadow {
  visibility: visible;
  opacity: 1;
}
