.tooltip .tooltext-spin {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 6px 5px 10px rgba(63, 62, 62, 0.596);
  opacity: 0;
  transition: opacity 0.5s ease-out;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: -5%;
}

.tooltip .tooltext-spin::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tooltip:hover .tooltext-spin {
  visibility: visible;
  opacity: 1;
  animation: spin 1s;
}
