.tooltip .toolbox-accept {
  visibility: hidden;
  width: 120px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 6px 5px 10px rgba(63, 62, 62, 0.596);
  opacity: 0;
  transition: opacity 1s;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: -10%;
}

@keyframes bounceup {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

.tooltip .toolbox-accept::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: green transparent transparent transparent;
}

.tooltip:hover .toolbox-accept {
  visibility: visible;
  animation-name: bounceup;
  animation-duration: 1s;
  opacity: 1;
}
