//--Left Tooltip CSS Starts HERE--//
.tooltip .toolbox-left {
  visibility: hidden;
  width: 120px;
  background-color: black; // Background Color for Tooltip//
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 6px 5px 10px rgba(63, 62, 62, 0.596);
  opacity: 0;
  transition: opacity 1s;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 25%; // Move Horizontally //
  right: 115%; // Move Vertically //
}

@keyframes bounceleft {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

.tooltip .toolbox-left::after {
  content: " ";
  position: absolute;
  left: 104%; /* Arrow at the bottom of the tooltip */
  top: 8px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .toolbox-left {
  visibility: visible;
  animation-name: bounceleft;
  animation-duration: 1s;
  opacity: 1;
}
